*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.zip
*.tar.gz
*.rar
hs_err_pid*

secrets.properties
workspace.xml
usage.statistics.xml
tasks.xml
modules.xml
.target
.DS_Store
.idea/libraries
*.iml
*.sql
/temp/
*.mp3
*.exe