<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STD_OUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>

        <encoder>
            <pattern>${CLUSTER} - %d [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STD_WARN" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>NEUTRAL</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <filter class="core.WarnFilter"/>

        <target>System.err</target>
        <encoder>
            <pattern>${CLUSTER} - %d [%thread] [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STD_ERR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>NEUTRAL</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <filter class="core.ExceptionFilter"/>

        <target>System.err</target>
        <encoder>
            <pattern>${CLUSTER} - %d [%thread] [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STD_OUT_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <neverBlock>true</neverBlock>
        <appender-ref ref="STD_OUT" />
    </appender>

    <appender name="STD_WARN_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <neverBlock>true</neverBlock>
        <appender-ref ref="STD_WARN" />
    </appender>

    <appender name="STD_ERR_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <neverBlock>true</neverBlock>
        <appender-ref ref="STD_ERR" />
    </appender>

    <root level="INFO">
        <appender-ref ref="STD_OUT_ASYNC" />
        <appender-ref ref="STD_WARN_ASYNC" />
        <appender-ref ref="STD_ERR_ASYNC" />
    </root>

</configuration>