<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="Core.ExceptionFilter">
            <exceptionClassName>java.net.SocketTimeoutException</exceptionClassName>
        </filter>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="Console" />
    </root>

</configuration>